.chessdesk {
    width: 700px;
    height: 700px;
    border: 1px solid black;
    display: table;
    margin: 0 auto;
    text-align: center;
}

.lit {
    display: table-cell;
    width: 80px;
    height: 20px;
  }

div .row, .toptrow, .downrow {
  display: table-row;
}

.numb {
    display: table-cell;
    width: 20px;
    height: 80px;
    vertical-align: middle;
  }
  
.x {
    display: table-cell;
    width: 25px;
    height: 25px;
  }
  
div .cell {
    display: table-cell;
    width: 80px;
    height: 80px;
}

.lit, .numb {
  border: 1px solid black;
}

div .white {
    background-color: white;
    width: 80px;
    height: 80px;
  }
  
div .black {
    background-color: black;
    width: 80px;
    height: 80px;
  }
