#content {
    display: table;
    border-collapse: collapse;
    margin: 0 auto;
}

.row {
    display: table-row;
    border-collapse: collapse;
}

.cell {
    display: table-cell;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-collapse: collapse;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}
